*
{
    padding:0;
    margin:0;
    border:border-box;
    color:white;

}

#heading1
{
    height:40px;
    width:100vw;
    display:flex;
    justify-content:space-around;
    align-items:center;
    padding-top:10px;
    color: rgb(255, 255, 255);
    background-color:rgb(66, 63, 63);
    font-size:20px;
    font-weight: bolder;
}

.head
{
    display:flex;
    justify-content:center;
    align-items:center;
}

#alphabets
{
    display:flex;
}

/* styling for heading 2 */
#heading2
{
    width:100vw;
    height:150px;
    padding-top:15px;
    padding-bottom:15px;
    background-color: rgb(255, 255, 255);
    display:flex;
    align-items:center;
}

#logo1
{
    height:100px;
    width:770px;
    margin-left:80px;
    background-image:url("mbcow.png");
    background-size:cover;
    background-repeat:no-repeat
}

#logo2
{
    height:100px;
    width:100px;
    background-image:url("logo1.png");
    background-size:cover;
    margin-left:500px;
}

#logo3
{
    height:100px;
    width:75px;
    background-image:url("logo2.png");
    background-size:contain;
    margin-left:40px;
}

/* heading3 styling */
#heading3
{
    height:120px;
    width:100vw;
    background-color:rgb(129, 35, 35);
    display: flex;
    justify-content: center;

}

#sec-headings
{
    font-size:20px;
    display: flex;
    justify-content:center;
}

#search-bar input
{
    height:40px;
    width:700px;
}

#search-bar button
{
    height:40px;
    width:40px;
    margin-left:0;
}

/* whatsnew section  */
.whats-new
{
    background-color: rgb(155, 48, 48);
    width:100%;
    height:120px;
    font-size:20px;
}
.news-ticker {
    width: 100%;
    overflow: hidden;
    background: rgb(155, 48, 48);
    color: #fff;
    padding: 8px 0;
    white-space: nowrap;
    display: flex;
}

.scroll-content {
    display: inline-block;
    padding-right: 50px; /* gap control */
    animation: scroll 15s linear infinite;
    font-size: 18px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


#menu-sec
{
    background-color: rgb(52, 50, 50);
}

.boxes
{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height:150px;
    font-size:15px;
    font-weight: bold;
    margin-right:5px;
}



.box1
{
    background-color:#2c4e2d;
}
.box2
{
    background-color:#7d1717 ;
}
.box3
{
    background-color: #1e4577;
}
.box4
{
    background-color:#ff6900;
}
.box5
{
    background-color:#4a3c08;
}
.box6
{
    background-color: #017285;
}

.boxes h6
{
    font-weight:bold;
}

.banner
{
    color:black;
}
.img-box
{
    height:300px;
    width:150px;
}